<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Teleprompter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Teleprompter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Teleprompter.Properties.Settings>
			<setting name="defaultEditor" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="pptServer" serializeAs="String">
				<value>127.0.0.1</value>
			</setting>
			<setting name="efsize" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="vfsize" serializeAs="String">
				<value>75</value>
			</setting>
			<setting name="defaultBack" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="defaultFore" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="defaultCamera" serializeAs="String">
				<value>Yellow</value>
			</setting>
			<setting name="defaultFont" serializeAs="String">
				<value>Arial</value>
			</setting>
			<setting name="tempMarker" serializeAs="String">
				<value/>
			</setting>
			<setting name="currentMarker" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="publicKey" serializeAs="String">
				<value/>
			</setting>
			<setting name="expiryDate" serializeAs="String">
				<value>2014-01-01</value>
			</setting>
		</Teleprompter.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Teleprompter.Properties.Settings>
			<setting name="Teleprompter_LicenseServer_TPLicense" serializeAs="String">
				<value>http://metathought.buddhalounge.co.za/easiq/tplicense.asmx</value>
			</setting>
		</Teleprompter.Properties.Settings>
	</applicationSettings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Teleprompter.Classes.ReceiverService">
				<endpoint address="" binding="basicHttpBinding" contract="Teleprompter.Classes.IReceiverService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://127.0.0.1:8000/Receiver/ReceiverService/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
